.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $primary-white-color;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-icons__icon {
  fill: $social-icons-fill;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-icons__link:hover & {
    fill: $primary-white-color;
  }
}

.social-icons {
  padding-top: 16px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
